.main{
    margin-top:80px;
}

.bg1{
    background-color: lightblue;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.bg2{
    background-color: lightcoral;
    border-radius: 20px;
}

.infobox{
    display: flex;
}
.it2{
    margin-left: auto;
}