.mp{
    margin-top: 80px;
    margin-bottom: 80px;
}

.mrr{
    /* width: 99%; */
    margin: auto;
}

.main{
    overflow: hidden;
}

.cd{
    height: 70vh;
    width: 1000vh;
    margin-left: auto;
    margin-right: auto;


}

.xxx{
    width: 99%;
}